  
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/products.css">
    <title>Home</title>
</head>
<body>
    <h1 class="heading">This is home..</h1>
    <form action="/adding" method="POST">
        <input type="text" name="name" placeholder="product name..."/>
        <input type="submit" value="add"/>
    </form>
</body>
</html>